.rainbow:focus {
    background-color: aliceblue;
    animation: rainbow 2.5s infinite linear
}

@keyframes rainbow{
    100%,0%{
        background: rgb(255,0,0);
    }
    8%{
        background: rgb(255,127,0);
    }
    16%{
        background: rgb(255,255,0);
    }
    25%{
        background: rgb(127,255,0);
    }
    33%{
        background: rgb(0,255,0);
    }
    41%{
        background: rgb(0,255,127);
    }
    50%{
        background: rgb(0,255,255);
    }
    58%{
        background: rgb(0,127,255);
    }
    66%{
        background: rgb(0,0,255);
    }
    75%{
        background: rgb(127,0,255);
    }
    83%{
        background: rgb(255,0,255);
    }
    91%{
        background: rgb(255,0,127);
    }
}